@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4"><strong>National Wealth Bank of Australasia<strong></h1>

    <div class="text-center">
        <img src="~/img/Bnk.jpg" alt="bank" />
    </div>
</div>

<hr />